@page
@model dudego.Pages.TbCar.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TbCar[0].NumberPlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TbCar[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TbCar[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TbCar[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TbCar[0].Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TbCar) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdCar">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdCar">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdCar">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
