@page
@model dudego.Pages.TbInvoice.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbInvoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbInvoice.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbInvoice.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbInvoice.IdBranchNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbInvoice.IdBranchNavigation.IdBranch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbInvoice.IdCustomerNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbInvoice.IdCustomerNavigation.IdCustomer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbInvoice.IdSalespersonNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbInvoice.IdSalespersonNavigation.IdSalesperson)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TbInvoice.IdInvoice" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
